:root {
    --bg-color: #E0E1DB;
    --primary-text: #465149;
    --secondary-text: #5C6C47;
    --card-bg: #F2F0F1;
    --font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.hero-subtitle {
    color: var(--secondary-text);
    font-size: 23px;
    font-weight: 400;
}

.hero-title {
    color: var(--primary-text);
    font-size: 57px;
    font-weight: bold;
    margin-top: 20px;
}

.intro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 100px 100px 300px;
}

.intro img {
    width: 55%;
}

.intro-text {
    color: var(--primary-text);
    font-size: 20px;
    line-height: 1.8;
}

.divider {
    width: 500px;
    height: 2px;
    background-color: #ABB39B;
    margin: 20px auto 150px auto;
}
.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.card {
    background-color: var(--card-bg);
    border-radius: 40px;
    width: 500px;
    height: 700px;
    padding:40px;
    margin: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* center title */
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    background-color: #f6f4f5;
    transform: scale(1.03); /* slightly larger */
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
}

.card:hover .card-arrow {
    transform: translateX(35px);
    color: var(--primary-text);
}
.card:hover .card-title {
    color: var(--primary-text);
    font-size: 60px;
}

.card-title {
    color: var(--secondary-text);
    font-size: 56px;
    text-align: center;
    font-weight: 200;
    transition: transform 0.5s ease;
}

.card-arrow {
    position: absolute;
    right: 50px;
    bottom: 30px;
    color: var(--secondary-text);
    transition: transform 0.5s ease;
}

.intro-sub {
    max-width: 700px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 1.8;
    color: var(--secondary-text);
    margin: 40px auto 10px;
}
