:root {
    --bg-color: #E0E1DB;
    --primary-text: #465149;
    --secondary-text: #5C6C47;
    --card-bg: #F2F0F1;
    --font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.hero-subtitle {
    color: var(--secondary-text);
    font-size: 23px;
    font-weight: 400;
}

.hero-title {
    color: var(--primary-text);
    font-size: 57px;
    font-weight: bold;
    margin-top: 20px;
}

.intro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 100px 100px 300px;
}

.intro img {
    width: 55%;
}

.intro-text {
    color: var(--primary-text);
    font-size: 20px;
    line-height: 1.8;
}

.divider {
    width: 500px;
    height: 2px;
    background-color: #ABB39B;
    margin: 20px auto 150px auto;
}

.intro-sub {
    max-width: 700px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 1.8;
    color: var(--secondary-text);
    margin: 40px auto 10px;
}
