:root{
  --bg-color: #E0E1DB;
  --primary-text: #465149;
  --secondary-text:#5C6C47;
  --card-bg:#F2F0F1;
  --font-main:'Inter', sans-serif

}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background-color: var(--bg-color);
}
